@()(implicit m: Messages)
<div class="row state-overview">
    <div class="col-lg-4 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class="count">
                    0
                </h1>
                <p><label class="count-label">@Messages("chart.grade.present")</label></p>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class=" count3">
                    0
                </h1>
                <p><label class="count-label">@Messages("chart.grade.total")</label></p>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-sm-6">
        <section class="panel">
            <div class="symbol green">
                <i class="fa fa-user    "></i>
            </div>
            <div class="value">
                <h1 class=" count4">
                    0
                </h1>
                <p><label class="count-label">@Messages("chart.grade.percentage")</label></p>
            </div>
        </section>
    </div>
</div>